*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
    scroll-padding-top: 60px;
}

/* header design */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgb(252, 253, 249);
    margin: 0 3rem;
}

header input[type='search']{
    height: 40px;
    width: 350px;
    background-color: rgb(240, 241, 236);
    border: none;
    border-radius: 2px;
    padding-left: 10px;
}

header .searching:hover{
    background-color:rgb(70, 155, 67) ;
}

.adminSection{
    display: flex;
}

.adminSection .admin{
    cursor: pointer;
    border: 2px solid rgb(70, 155, 67) ;
    border-radius: 50%;
    padding: 5px;
}

/* navigation design */

nav{
    top: 0;
    position: sticky;
    z-index: 1;
}

nav ul {
    background-color: rgb(82, 191, 79);
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
   
}

nav ul li a{
    color: rgb(252, 253, 249);
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 1em 0 1em;
    display: block;
    padding:16px 20px;
}

nav ul li a:hover{
background-color:rgb(30, 47, 58) ;
}

/* main section design */

main{
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: rgba(177, 187, 174, 0.753); */
    background-color: rgba(26, 26, 26, 0.692);
    background-blend-mode: multiply;
    height: 79vh;
    color: rgb(252, 253, 249);
    position: relative;
    
}
 
/* content within main section design */
.content{
    position: absolute;
    top: 8rem;
    left: 3rem;
    text-transform: uppercase;
    font-size: 22px; 
}
  
/* all elements within main .content section */
.content >*{
    margin-top: 8px;
   
}

/* button design for all button */
.allButton{
    height: 40px;
    background-color: rgb(82, 191, 79);
    color: rgb(252, 253, 249);
    border: none;
    padding: 8px;
    text-align: center;
    border-radius: 2px;
    width: 80px;
}

.button{
    width: 160px;
    text-transform: uppercase;
    margin-top: 14px;
}

/* hover effect for buttons */

.button:hover{
   background-color:rgb(70, 155, 67) ;
   cursor: pointer;
}

/* applied styles for container containing books */

.container{
    padding: 0 1em 4em 1em;
    margin: 0;
    position: relative;
    background-color: rgb(252, 253, 249);
}

.container .mySlides div{
    display: inline-block;
}

.heading{
   margin:1em 0 0 1.1em;
   font-size: 30px;
   color: rgb(77, 74, 74);
   letter-spacing: 4px;
   font-family: 'Zen Kurenaido', sans-serif;
}

  /* design for cards within container for the books */
.container .mySlides .card {
    position: relative;
    max-width: 200px;
    height:260px;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
      inset -5px -5px 15px rgba(255, 255, 255, 0.1),
      5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    transition: 0.5s;
    margin:2em 1em 0 2em;
    cursor: pointer;
}
    
.container .mySlides .card .box {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    /* background: #2a2b2f; */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.5s;
}

.box img{
    width: 100%;
    height: 100%;
}

.container .mySlides .card .box:hover {
    transform: translateY(-50px);
  }


/* design for next and prev button */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 45%;
    width: auto;
    padding: 16px;
    color: white;
    background-color: rgb(82, 191, 79);;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
  }

.next {
    right: 0;
    border-radius: 3px 0 0 3px;}
.prev{
    left: 0;
    border-radius: 0 3px 3px 0;
}    

.prev:hover, .next:hover {
        background-color: rgba(33, 73, 32, 0.801);;;
      }

/* animation for fade with next and prev for genre of books */
.fade{
    animation: fade 1s linear;
    }
    
    @keyframes fade {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
    }     


/* footer containing contact information  */
footer{
    width: 100%;
    background-color:rgb(30, 47, 58) ;
    display: flex;
    justify-content: space-between;
    color:rgb(252, 253, 249); 
    padding:1em 4em;
    font-family: 'Poppins', sans-serif;
}

footer ul {
    list-style:none;
}
 
footer ul li a {
    text-decoration: none;
}

footer h4 {
    font-weight: 300;
    padding-bottom: 5px;
    text-transform: uppercase;
    font-size: 22px;
    position: relative;
    margin-bottom: 1em;
}

footer h4::before{
    content:'';
    position: absolute;
    left: 0;
    bottom: -8px;
    background-color: rgb(123, 137, 146);
    height: 2px;
    width: 50px;
}

footer .icons i{
    margin-right: 10px;
    font-size: 18px;
    color: rgb(252, 253, 249);;
}
footer .icons a i:hover{
  color:rgb(82, 191, 79); ;
}

footer ul li a{
    color:rgb(252, 253, 249); 
    line-height: 1.5em;
}

footer .visit li{
    list-style: none;
    line-height: 1.5em;
}


/* modal for login design */
.loginModal {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.623); /* Black w/ opacity */
  }
  
  .loginModal .form{
      position: relative;
  }

  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    position: absolute;
    font-size: 28px;
    font-weight: bold;
    right: 0;
    top: -12px;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  .login {
    background-color: rgb(82, 191, 79);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }

  .image{
      text-align: center;
      font-size: 40px;
  }
  
